@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), 
    local("PTSerif-Italic"), 
    url("/fonts/ptserif/ptserif-2a52efdc13e3e93cc83e92bc37c2a1cb73cc06d0.woff2") format("woff2"), 
    url("/fonts/ptserif/ptserif-a038341121c0957e2679559a6c6595792772bdb9.woff") format("woff"), 
    url("/fonts/ptserif/ptserif-3a2010062c2f22529dac21658d486c697500639b.ttf") format("truetype");
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local("PT Serif Bold Italic"), 
    local("PTSerif-BoldItalic"), 
    url("/fonts/ptserif/ptserif-5fe01234edf6d3296df8ff4e772df8ce4da83110.woff2") format("woff2"), 
    url("/fonts/ptserif/ptserif-97ecd01612a26edcac6f7856e004f72cb4c08802.woff") format("woff"), 
    url("/fonts/ptserif/ptserif-93f09e7af34424a7c5b4a0c9437c4e5b5525032d.ttf") format("truetype");
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  /* IE6-8 compat */
  src: url("/fonts/ptserif/ptserif-93c6b2e11b3510e6fc7740cb382e8c372cbff64a.eot");
  src: local("PT Serif"), 
    local("PTSerif-Regular"), 
    url("/fonts/ptserif/ptserif-126b202b802cc9473f7e557e8541b42b2edc1ded.woff2") format("woff2"), 
    url("/fonts/ptserif/ptserif-6c6bccf8f13af3b886a78ec1a4c671f36dc79d3a.woff") format("woff"), 
    url("/fonts/ptserif/ptserif-454a80e972e15da32d7a21ec5e38b539547bcee3.svg#PTSerif") format("svg"), 
    url("/fonts/ptserif/ptserif-93c6b2e11b3510e6fc7740cb382e8c372cbff64a.eot") format("embedded-opentype"), 
    url("/fonts/ptserif/ptserif-37544054d86607cac3d298d2a133a7f2391dc90e.ttf") format("truetype");
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), 
    local("PTSerif-Bold"), 
    url("/fonts/ptserif/ptserif-02bc76b92f10060991df1de1e2ddf2a5f447b32a.woff2") format("woff2"), 
    url("/fonts/ptserif/ptserif-9918c55c83a384a72aa56295888bdb6df3a7761e.woff") format("woff"), 
    url("/fonts/ptserif/ptserif-a95f7d8bc043f92421b0cf6f38026b5518a49200.ttf") format("truetype");
}

