body {
  font-family: "Georgia", "PT Serif", "Times New Roman", serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
#footer, #header {
  font-family: "Trebuchet MS", "PT Sans", sans-serif;
}

a:link,
a:visited {
  color: #004cac;
}

a.btn {
  font-family: "Trebuchet MS", "PT Sans", sans-serif;
  color: #fff;
}

a.btn-default {
  color: #333;
}

code {
  color: #555;
  background-color: transparent;
  padding: 0;
}

blockquote {
  font-size: 16px;
  color: #555;
}

/* Blog */

#header h1 {
  font-size: 19px;
  font-weight: bold;
}

#header h1 a:link,
#header h1 a:visited {
  color: #999;
  text-decoration: none;
}

#header h1 a:hover {
  color: #ff4136;
}

#header .tagline:before {
  content: ' — ';
}

#header .tagline {
  font-weight: 100;
  color: #aaa;
  font-size: 16px;
}

#footer {
  font-size: 14px;
  margin: 30px 0;
}

/* Sidebar */

.blog-sidebar {
  font-family: "Trebuchet MS", "PT Sans", sans-serif;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 0;
}

@media (max-width: 749px) {
  .blog-sidebar {
    padding-top: 20px;
  }
}

@media (max-width: 992px) {
  .blog-sidebar {
    font-size: 13px;
  }
}

  .blog-sidebar .panel-content,
  .blog-sidebar .list-group-item {
  }

  .blog-sidebar .panel,
  .blog-sidebar .panel-heading {
    box-shadow: none;
  }

  .blog-sidebar .panel-heading {
    background: #f8f8f8;
    color: #777;
  }

  .blog-sidebar .list-group-item {
    border-color: #eee;
  }

.panel-projects .list-group-item-text {
  color: #aaa;
}

label {
  font-weight: normal;
}

.twitter-color {
  color: #55acee;
  fill: #55acee;
}

.facebook-color {
  color: #3d5b95;
  fill: #3d5b95;
}

.vk-color {
  color: #587d9f;
  fill: #587d9f;
}

.rss-color {
  color: #4374e0;
  fill: #4374e0;
}

.fa-ul-nospace {
  margin-left: 1.4em;
}

.bitcoin-color {
  color: #f0ad4e;
  fill: #f0ad4e;
}

.usd-color {
  color: #85bb65;
}

.info-color {
  color: #999;
}

/* Posts */

.blog-post {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 749px) {
  .blog-post {
    margin-bottom: 30px;
  }
}

.blog-post-title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.blog-post-title > a:link,
.blog-post-title > a:visited {
  color: #333;
}

.blog-post-title > a:hover {
  color: #666;
  text-decoration: none;
}

.blog-post-content img {
  max-width: 100%;
  height: auto;
}

.blog-post-content form {
  font-family: "Trebuchet MS", "PT Sans", sans-serif;
}

.blog-post-meta {
  font-family: "Trebuchet MS", "PT Sans", sans-serif;
  font-size: 13px;
  color: #999;
}

.blog-post-date {
  display: inline-block;
  padding-top: 1px;
  line-height: 1;
  margin-right: 16px;
}

.blog-post-date a {
  cursor: pointer;
}

.blog-post-date a {
  color: #aaa;
  border-bottom: 1px dashed #ddd;
  text-decoration: none;
}

/* Social likes overrides */

.social-likes_light .social-likes__button, .social-likes_single-light+.social-likes__button {
  padding-left: 4px;
  padding-bottom: 4px;
  font-size: 11px;
}

/* Comments for old imported posts */

.comments {
  margin: 30px 0;
  padding-top: 10px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.comment {
  margin-top: 20px;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  color: #999;
}

  .comment-date:before {
    content: ' / ';
  }

.comment-body {
  padding-left: 15px;
}

/* Page */

.page-header h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
}

.page-header {
  border-bottom: none;
  padding: 0;
  margin: 0;
}

a.tor-link {
  color: #3D9970;
}

a.bitcoin-link {
  color: #b8860b;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    a.bitcoin-link {
      font-size: 10px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  a.bitcoin-link {
    font-size: 12px;
  }
}

.list-share {
  display: inline-block;
}

.list-share > li {
  padding: 0 10px 0 0;
}
