* {
  box-sizing: border-box;
}

body, textarea, input, select {
  font: 16px/1.6 "Clear Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 15px;
}

a:link,
a:visited {
  color: #004cac;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #555;
  background-color: transparent;
  padding: 0;
}

blockquote {
  padding: 0 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-size: 16px;
  color: #555;
}

/* Blog */

#header {
  margin-top: 20px;
}

#header h1 {
  display: inline-block;
  margin-right: 20px;
  font-size: 19px;
  line-height: 1;
  font-weight: bold;
}

#header h1 a:link,
#header h1 a:visited {
  color: #3E9600;
  text-decoration: none;
}

#header a {
  white-space: nowrap;
}


#footer {
  font-size: 14px;
  padding: 20px 0;
  clear: both;
}

/* Sidebar */

.twitter-color {
  color: #55acee;
  fill: #55acee;
}

.facebook-color {
  color: #3d5b95;
  fill: #3d5b95;
}

.vk-color {
  color: #587d9f;
  fill: #587d9f;
}

/* Posts */

.blog-post {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 30px;
}

.blog-post-title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  line-height: 1.2;
}

.blog-post-title > a:link,
.blog-post-title > a:visited {
  color: #333;
}

.blog-post-title > a:hover {
  color: #666;
  text-decoration: none;
}

.blog-post-content a:link {
  text-decoration: underline;
}

.blog-post-content a:visited,
.archive a:visited {
  color: #4D00AC;
}

.blog-post-content img {
  max-width: 100%;
  height: auto;
}

.blog-post-meta {
  font-size: 14px;
  color: #999;
}

.blog-post-date {
  display: inline-block;
  line-height: 1;
  margin-right: 16px;
  vertical-align: text-bottom;
}

.blog-post-date a {
  cursor: pointer;
}

.blog-post-date a {
  color: #aaa;
  border-bottom: 1px dashed #ddd;
  text-decoration: none;
}

/* Comments for old imported posts */

.comments {
  margin: 30px 0;
  padding-top: 10px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.comment {
  margin-top: 20px;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  color: #999;
}

  .comment-date:before {
    content: ' / ';
  }

.comment-body {
  padding-left: 15px;
}

/* Page */

.page-header h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.page-header {
  border-bottom: none;
  padding: 0;
  margin: 0;
}

.tor-link {
  color: #3D9970;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-share {
  display: inline-block;
  margin: 0;
}

.list-share > li {
  padding: 0 5px 0 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

address {
  font-style: normal;
}