---
layout: default
---
<div class="row">
  <div class="col-md-8">

    {{.Content}}

  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="avatar pull-right">
          <a href="/about.html">
            <img src="/img/dchest-feb-2014.jpg" alt="Фото автора" width="80" height="80" class="img-circle">
          </a>
        </div>

        <p><a href="/about.html">Об авторе и контакты <i class="fa fa-angle-right"></i></a></p>
        <p class="text-muted">Поддержать проект:</p>
        <ul class="list-unstyled fa-ul fa-ul-nospace">
          <li><a href="https://coinbase.com/checkouts/b31ea1c3fb4f1ad25d416ed20ea18ec7">
            <i class="fa fa-li fa-bitcoin fa-bitcoin-color"></i> биткоинами</a>
          </li>
          <li><a href="http://www.dreamhost.com/donate.cgi?id=17540">
            <i class="fa fa-li fa-usd fa-usd-color"></i> PayPal прямо на хостинг</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Подписка
      </div>
      <div class="panel-body">
        <form class="form-inline" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=SellMe', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
          <label for="email"><small>Получать новые посты по почте:</small></label>


          <div class="input-group">
            <input class="form-control" type="text" id="email" name="email" value="" placeholder="Адрес электропочты">

            <span class="input-group-btn">
              <button type=submit name="subscribe" class="btn btn-default">
                <i class="fa fa-check"></i>
              </button>
            </div>
            <!--hidden-->
            <input type="hidden" value="SellMe" name="uri">
            <input type="hidden" name="loc" value="ru_RU"/>
            <!--/hidden-->
          </form>

        </div><!-- close panel body, list goes under -->

        <div class="list-group">
          <a class="list-group-item" href="http://sellme.biz/feed/">
            <i class="fa fa-lg fa-rss-square" style="color:#4374e0"></i> RSS лента
            <!--
            <img src="http://feeds.feedburner.com/~fc/SellMe?bg=ffffff&amp;fg=000000&amp;anim=0"
            height="26" width="88" alt="" style="opacity:0.4" class="pull-right" />
            -->

          </a>
          <a class="list-group-item" href="{{.Site.Properties.urls.twitter}}">
            <i class="fa fa-lg fa-twitter twitter-color"></i> Твиттер
            <span class="text-muted">@{{.Site.Properties.twitter_name}}</span>
          </a> 
      </div>
    </div>


    <div class="panel panel-default panel-projects">
      <div class="panel-heading">
        Мои проекты
      </div>
        <div class="list-group">
          <a class="list-group-item" href="http://www.codingrobots.com/journalite/?utm_source=Sellme.biz&utm_medium=sidebar_link&utm_campaign=Sellme.biz">
            <h4 class="list-group-item-heading">Journalite <span class="label label-danger">New</span><i class="fa fa-windows text-muted pull-right"></i></h4>
            <p class="list-group-item-text">Программа для ведения дневников и журналов в Windows</p>
          </a>
          <a class="list-group-item" href="http://www.codingrobots.com/memoires/?utm_source=Sellme.biz&utm_medium=sidebar_link&utm_campaign=Sellme.biz">
            <h4 class="list-group-item-heading">Mémoires <i class="fa fa-apple text-muted pull-right"></i></h4>
          <p class="list-group-item-text">Программа для ведения дневников и журналов на Маке</p>
          </a>
          <a class="list-group-item" href="http://www.codingrobots.com/videomemoires/?utm_source=Sellme.biz&utm_medium=sidebar_link&utm_campaign=Sellme.biz">
            <h4 class="list-group-item-heading">Video Mémoires <i class="fa fa-apple text-muted pull-right"></i></h4>
            <p class="list-group-item-text">Программа для ведения видео-дневников на Маке</p>
          </a>
          <a class="list-group-item" href="http://www.properpicks.com/?utm_source=Sellme.biz&utm_medium=sidebar_link&utm_campaign=Sellme.biz">
            <h4 class="list-group-item-heading">Proper Picks</h4>
            <p class="list-group-item-text">Микроиздательство книжек</p>
          </a>
          <a class="list-group-item" href="https://github.com/dchest">
            <h4 class="list-group-item-heading">github.com/dchest</h4>
            <p class="list-group-item-text">Мои открытые проекты на Гитхабе</p>
          </a>
        </div>
    </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Последние посты
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {{range .Site.Posts.Limit 10}}
            <li><a href="{{.Meta.url}}">{{.Meta.title}}</a></li>
            {{end}}
            <li><a href="/archive/"><b>Список всех постов</b></a></li>
          </ul>
        </div>
      </div>

  </div>
</div>
